<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>your.package.name.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>register.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>register.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>register.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleSelctionServlet</display-name>
    <servlet-name>RoleSelctionServlet</servlet-name>
    <servlet-class>register.RoleSelctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleSelctionServlet</servlet-name>
    <url-pattern>/RoleSelctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>register.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/TransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>register.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>register.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>register.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>register.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogutServlet</display-name>
    <servlet-name>LogutServlet</servlet-name>
    <servlet-class>register.LogutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogutServlet</servlet-name>
    <url-pattern>/LogutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeposittServlet</display-name>
    <servlet-name>DeposittServlet</servlet-name>
    <servlet-class>register.DeposittServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeposittServlet</servlet-name>
    <url-pattern>/DeposittServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DS</display-name>
    <servlet-name>DS</servlet-name>
    <servlet-class>register.DS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DS</servlet-name>
    <url-pattern>/DS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>register.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>register.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>register.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerServlet</display-name>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <servlet-class>register.ViewCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerServlet</servlet-name>
    <url-pattern>/ViewCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyCustomerServlet</display-name>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <servlet-class>register.ModifyCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCustomerServlet</servlet-name>
    <url-pattern>/ModifyCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>register.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPdfServlet</display-name>
    <servlet-name>DownloadPdfServlet</servlet-name>
    <servlet-class>register.DownloadPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPdfServlet</servlet-name>
    <url-pattern>/DownloadPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDashboardServlet</display-name>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <servlet-class>register.CustomerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <url-pattern>/CustomerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiniServlet</display-name>
    <servlet-name>MiniServlet</servlet-name>
    <servlet-class>register.MiniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniServlet</servlet-name>
    <url-pattern>/MiniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StepServlet</display-name>
    <servlet-name>StepServlet</servlet-name>
    <servlet-class>register.StepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StepServlet</servlet-name>
    <url-pattern>/StepServlet</url-pattern>
  </servlet-mapping>
</web-app>